.about-container {
  color: white;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #36486b;
}

.flex-column {
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: hsla(0, 0%, 0%, 0.75);
  border-radius: 10px;
  max-height: 20em;
  margin: 15px;
}

.about-picture {
  width: 300px;
  border-radius: 10px;
  margin: 15px;
}

.about-heading {
  margin: 15px;
}

.about-info {
  margin: 15px;
  font-size: 20px;
}

.about-info p {
  margin-top: 0px;
}

/* mobile */
@media only screen and (max-width: 430px) {
  .about-picture {
    display: none;
  }
  .year {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
  }
  .about-picture {
    display: none;
  }
  .flex-column {
    width: 100%;
    margin-top: 50px;
    border-radius: 0px;
    justify-content: center;
    align-items: center;
    overflow: scroll;
  }
  .about-info {
    text-align: center;
  }
}
