.about-container {
  color: white;
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  width: 600px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background-color: hsla(0, 0%, 0%, 0.75);
  border-radius: 10px;
  max-height: 20em;
  margin: 15px;
}

.about-picture {
  width: 300px;
  border-radius: 10px;
  margin: 15px;
}

.about-heading {
  margin: 15px;
}

.about-info {
  margin: 15px;
  font-size: 20px;
  overflow: scroll;
}

.about-info p {
  margin-top: 0px;
}
