.container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
  background-color: hsla(0, 0%, 0%, 0.75);
  border-radius: 10px;
  max-height: 20em;
  margin-left: 30px;
}

.about-picture {
  display: inline;
  max-width: 20em;
  max-height: 20em;
  border-radius: 10px;
  margin-left: 10px;
}

.about-heading {
  margin: 15px;
}

.about-info {
  font-size: 20px;
  margin: 15px;
}
