.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 200px;
}

.about-picture {
  display: inline;
  max-width: 20em;
  max-height: 20em;
}

.about-heading {
  margin-top: 7%;
  margin-left: 40px;
}

.about-info {

  font-size: 20px;
  margin-left: 40px;


}