* {
  /* border: 1px solid red; */
  color: white;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4), 0px 8px 13px rgba(0, 0, 0, 0.1),
    0px 18px 23px rgba(0, 0, 0, 0.1);
}

/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Raleway");

/*-------------------------------------------------------------------------*/

.background {
  z-index: -1;
  /* Set up proportionate scaling */
  width: 100%;
  min-height: 100%;

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

.page-content {
  height: 100vh;
  width: 100%;
  font-family: "Raleway", cursive;
  background-color: hsla(0, 0%, 0%, 0.47);
}
