/*
* {
  border: 1px solid red;
}
*/


/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Raleway");




/*-------------------------------------------------------------------------*/

.background {
  z-index: -1;
  /* Set up proportionate scaling */
  width: 100%;
  min-height: 50%;


  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}



/*.slogan {
  font-family: 'Raleway', sans-serif;
  color: steelblue;
  margin: 0px;
}*/

.body {
  margin:0px;
  background-color: black;
  opacity: 0.5;
  justify-content: center;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}



.gallery {
  color: orange;
  font-size: 40px;
  padding: 25px 50px 50px 50px;
  margin: 30px 50px;
}






