/*
* {
  border: 1px solid red;
}
*/


/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Raleway");




/*-------------------------------------------------------------------------*/

.background {
  z-index: -1;
  /* Set up proportionate scaling */
  width: 100%;
  min-height: 100%;


  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}


.body {
  margin:0px;
  background-color: hsla(0, 0%, 0%, 0.75);
  justify-content: center;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.link {
  margin: 35px;
}











