
* {
  /* border: 1px solid red; */
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
} 



/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Raleway");


/* --------------CSS TRANSITION GROUP--------------- */

.fade {
  opacity: 0;
  z-index: 1;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}




/*-------------------------------------------------------------------------*/

.background {
  z-index: -1;
  /* Set up proportionate scaling */
  width: 100%;
  min-height: 100%;


  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}


.body {
  font-family: 'Raleway', cursive;
  padding-top: 100%;
  background-color: hsla(0, 0%, 0%, 0.47);
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}

.link {
  margin: 35px;
}











