.container {
  height: 680px;
  color: white;
}

@media (max-width: 1600px) {
  .container {
    height: 550px;
    }
}

.slider {
  overflow-y: hidden;
  max-height: 500px; /* approximate max height */
  transition-property: all;
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
