.contact-container {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #0b121f; 
  margin-top: 2px;
  margin-bottom: 4px;
}

.contact-info {
  width: 500px;
  height: 322px;
  margin: 15px;
  padding: 15px;
  background-color: hsla(0, 0%, 0%, 0.75);
  border-radius: 10px;
  font-size: 20px;
  /* margin-top: 40px; */
}

h2 {
  margin: 0;
}

/* ============= */
/* Media Queries */
/* ============= */

@media only screen and (max-width: 768px) {
  /* mobile */
  .contact-container {
    flex-direction: column;
    justify-content: flex-end;
  }
  .contact-info {
    display: none;
  }
}
