.contact-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.map-container {
  width: 500px;
  height: 300px;
  margin: 15px;
  padding: 15px;
}

.contact-info {
  width: 500px;
  height: 300px;
  margin: 15px;
  padding: 15px;
  background-color: hsla(0, 0%, 0%, 0.75);
  border-radius: 10px;
  font-size: 20px;
  /* margin-top: 40px; */
}

h2 {
  margin: 0;
}
