.info-container {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: flex-start;
  height: 530px;
}

h2 {
  margin: 0;
}

.contact-info {

  font-size: 20px;
  margin: 0px 60px 0px 30px;
  padding: 15px;
  background-color: hsla(0, 0%, 0%, 0.75);
  border-radius: 10px;
  height: 60%;
  width: 25%;
}