.footer {
  color: white;
  font-family: "Raleway", sans-serif;
  width: 100%;
  height: 95px;
  background-color: hsla(0, 0%, 0%, 0.75);
  display: flex;
}

.social {
  align-self: center;
}

.insta {
  height: 45px;
  width: 45px;
  margin: 7px;
  opacity: 0.8;
  border-radius: 4px;
}

.insta:hover {
  opacity: 1;
  background: linear-gradient(#4f5bd5, #962fbf, #d62976, #fa7e1e, #feda75);
  border: none;
}

.social-link {
  text-decoration: none;
  color: white;
}

.fb {
  height: 46px;
  width: 46px;
  margin: 7px;
  opacity: 0.8;
  transition: background-color 0.5s ease;
}

.fb:hover {
  opacity: 1;
  color: #3b5998;
}

.year {
  flex-grow: 1;
  align-self: center;
  text-align: center;
}

.contact {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  margin-right: 10px;
  font-size: 12px;
  contain: content;
}

h4 {
  margin: 5px 0px;
}

ul {
  margin-top: 1px;
  margin-bottom: 5px;
  padding: 0px;
}

li {
  list-style-type: none;
  margin: 2px 0px;
}

.credit {
  font-size: 10px;
  margin-left: 5px;
}

/* mobile */
@media only screen and (max-width: 430px) {
  .footer {
    position: relative;
    justify-content: space-between;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
  }
}
