a, a:link, a:visited, a:focus, a:hover, a:active{
  color: white;
  text-decoration:none;
  cursor: pointer;
}


#headercontainer {
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}

#titlecontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  height: 100px;
  width: 100px;
  margin: 0px 0px 70px;
}

.title {
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
  font-size: 90px;
  color: white;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
  margin: 0px;

}

.navBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 15em;
}


@media (max-width: 1600px) {
  h1.title {
    font-size: 50px;
  }

  img.logo {
    height: 70px;
    width: 70px;
  }

}