a, a:link, a:visited, a:focus, a:hover, a:active{
  color: white;
  text-decoration:none;
  cursor: pointer;
}


#headercontainer {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}

#titlecontainer {
  display: flex;
  flex-direction: row;
}

.logo {
  height: 100px;
  width: 100px;
}

.title {
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
  font-size: 90px;
  margin: 0px;

}

.navBar {
  display: flex;
  flex-direction: row;
}


@media (max-width: 1600px) {
  h1.title {
    font-size: 50px;
  }

  img.logo {
    height: 70px;
    width: 70px;
  }

}