a, a:link, a:visited, a:focus, a:hover, a:active{
  color: white;
  text-decoration:none;
  cursor: pointer;
}


#headercontainer {
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  z-index: 1;
}

#titlecontainer {
  margin-top: 10px;
  width: 55%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}


.title {
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
  font-size: 90px;
  margin: 10px 50px;
}

.cactus {
  margin-left: 25px;
  height: 85px;
  width: 55px;
  padding: 15px;
}

.navBar {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}


@media (max-width: 1600px) {
  h1.title {
    font-size: 60px;
  }

  /* img.logo {
    height: 70px;
    width: 70px;
  } */

}