.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*  Elements to animate */
h1 {
  color: white;
  width: auto;
  letter-spacing: 0.15em;
  font-size: 45px;
}

.css-typing {
  border-right: 0.15em solid #e84900;
  white-space: nowrap;
  overflow: hidden;

  width: 950px;
  opacity: 0;
  -webkit-animation: type3 3.5s steps(33, end),
    blink 0.5s step-end infinite alternate;
  animation: type3 3.5s steps (33, end);
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

/* Keyframes */
@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

/* mobile */
@media only screen and (max-width: 768px) {
  h1 {
    width: auto;
    letter-spacing: 0.15em;
    font-size: 30px;
  }

  .css-typing {
    width: 630px;
  }
}

@media only screen and (max-width: 650px) {
  .css-typing {
    display: none;
  }
}

