.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center
}

.typewriter h1 {
  color: white;
  width: 58%;
  overflow: hidden;                         /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #e84900;      /* The typwriter cursor */
  white-space: nowrap;                      /* Keeps the content on a single line */
  margin: 0 auto;                           /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em;                    /* Adjust as needed */
  animation: 
    typing 4s steps(40, end),
    blink-caret .75s step-end infinite;
  font-size: 40px;
}


/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 58% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #e84900; }
}