.map-container {
  margin: 15px;
  width: 500px;
  height: 350px;
}

.map-icon {
  color: #e84900;
}

/* .map-icon:hover {
  color: #cb2238;
  cursor: pointer;
} */

/* Tablet */
@media only screen and (max-width: 768px) {
  .map-container {
    margin-top: 70px;
  }
}
