.navBtn {
  color: white;
  display: inline-block;
  margin: 15px 35px 15px 20px;
  padding: 5px 8px;
  font-family: 'Raleway', sans-serif;
  border: none;
  border-radius: 5px;
  background-color: #e84900;
  font-size: 17px;
  font-weight: bolder;
  transition: background-color 0.5s ease;
  outline: none;
}

.navBtn:hover {

  background-color: #CB2238;

}