.navBtn {
  color: #453d22;
  padding: 10px 20px;
  margin: 15px 30px;
  align-self: center;
  font-family: 'Raleway', sans-serif;
  border: none;
  border-radius: 5px;
  background-color: #f5e8fc;
  font-size: 18px;
  font-weight: bolder;
  transition: background-color 0.5s ease;
  outline: none;
  box-shadow: 0px 2px 3px rgba(0,0,0,0.4),
               0px 8px 13px rgba(0,0,0,0.1),
               0px 18px 23px rgba(0,0,0,0.1);
}

@media (max-width: 1600px) {
  button.navBtn {
    padding: 8px 14px;
    margin: 10px 20px;
  }

}

/* .navBtn:hover {

  background-color: #CB2238;
  cursor: pointer;

} */